<%- include('partials/header') -%>

<body class="index-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="../" rel="tooltip">
          <span>ASKY•</span> Here to Help
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                ASKY•
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Check out the repo!" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
              <i class="fab fa-github"></i>
              <p class="d-lg-none d-xl-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" href="">About Us</a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link"  href="">How it Works</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary " href="/login">
            Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<br>
<br>
  <section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="md:w-2/3 flex flex-col items-start">
      <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-bold tracking-widest"><%= post.createdAt.toString().slice(0,16) %></span>
      <h2 class="sm:text-2xl text-2xl title-font font-medium text-white-900 mt-4 mb-4"><%= user.firstName %> <%= user.lastName %> wants to know:</h2>
      <p class="leading-relaxed mb-8"><%= post.caption %></p>
      <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
        <a class="text-indigo-500 inline-flex items-center">Learn More
          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
          <%if(post.user == user.id){ %>
            <form
              action="/post/deletePost/<%= post.id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="fa fa-trash" type="submit"></button>
            </form>
            <%}%>
        </span>
        <span class="text-gray-400 inline-flex items-center leading-none text-sm">
          <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="fa fa-heart" type="submit"></button>
        </form>
        </span><span><%= post.likes %></span>



      </div>
      
      <!-- <a class="inline-flex items-center">
        <img alt="blog" src="https://dummyimage.com/104x104" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
        <span class="flex-grow flex flex-col pl-4">
          <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
          <span class="text-gray-400 text-xs tracking-widest mt-0.5">UI DEVELOPER</span>
        </span>
      </a> -->

      
      <!-- <br><br><br><br><br>
    <div class="text-center lg:w-2/3 w-full">
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
      </div>
    </div> -->

  </div>
</section>

<div class="container">
<div class="container">
<div class="container">
<div class="container">
<form>
  <div class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600">
      <div class="py-2 px-4 bg-dark rounded-t-lg dark:bg-gray-800">
          <label for="comment" class="sr-only">Your comment</label>
          <textarea id="comment" rows="4" class="px-0 w-full text-sm text-gray-900 bg-dark border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write a comment..." required=""></textarea>
      </div>
      <div class="flex justify-between items-center py-2 px-3 border-t dark:border-gray-600">
          <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
              Post comment
          </button>
      </div>
  </div>
</form>


</div>
</div>
</div>
</div>
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
<ul>
  <% for(var i=0; i<comments.length; i++) {%>
    <li class="">

        <div class="justify-center">
            <!-- <div class="py-8 px-4 lg:w-1/3">
              <div class="h-full flex items-start">
                <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                  <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Jul</span>
                  <span class="font-medium text-lg text-gray-800 title-font leading-none">18</span>
                </div> -->
                <div class="flex-grow pl-6">
                  <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">CATEGORY</h2>
                  <h1 class="title-font text-xl font-medium text-gray-900 mb-3">The 400 Blows</h1>
                  <p class="leading-relaxed mb-5">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                  <a class="inline-flex items-center">
                    <img alt="blog" src="https://dummyimage.com/103x103" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="flex-grow flex flex-col pl-3">
                      <span class="title-font font-medium text-gray-900">Alper Kamu</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
  </div>
        
      <%= `${comments[i].createdBy}:`%>
      <%= comments[i].comment%>
      <%if(comments[i].createdById == user.id){ %>
        <form
          action="/comment/deleteComment/<%=post.id%>/<%=comments[i]._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
    </li>
  <% } %>
</ul>
</div>

</section>







    



<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>

    <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= `${comments[i].createdBy}:`%>
          <%= comments[i].comment%>
          <%if(comments[i].createdById == user.id){ %>
            <form
              action="/comment/deleteComment/<%=post.id%>/<%=comments[i]._id%>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
        </li>
      <% } %>
    </ul>

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>
</body>

<%- include('partials/footer') -%>
